*.swp
*.o
*.hi
*.pyc

# Xmonad files
_xmonad/xmonad-x86_64-linux
_xmonad/xmonad.errors

# Ignored Settings
_config/chromium
_config/pulse

# Ignore GTK file chooser settings
_config/gtk-2.0/gtkfilechooser.ini
