*.swp
*.o
*.hi
*.pyc

# SSH Files
_ssh/id_rsa
_ssh/id_rsa.pub
_ssh/known_hosts

# Xmonad files
_xmonad/xmonad-x86_64-linux
_xmonad/xmonad.errors

# Ignored Settings
_config/autostart
_config/chromium
_config/deluge
_config/fish/fish_history
_config/fish/fishd.*
_config/fish/generated_completions
_config/google-googletalkplugin/
_config/googlecl
_config/gtk-2.0/gtkfilechooser.ini
_config/guvcview
_config/libreoffice
_config/pulse
_config/Thunar
_config/Trolltech.conf
_config/vlc
_config/xfce4
