ImageMagick
Kitware
QtProject*
Thunar
Trolltech.conf
VirtualBox
XDK
autostart
chromium-dev
configstore
dconf
deluge
desmume
fish/fish_history*
fish/fishd.*
freshwrapper-data
google-chrome
google-chrome-unstable
google-googletalkplugin/
google-musicmanager/
googlecl
gtk-2.0/gtkfilechooser.ini
gtk-3.0/bookmarks
guvcview
guvcview2
gvbam
icedtea-web
irssi/irssi.pem
libreoffice
menus
pcsx2
pulse
ranger/bookmarks
ranger/history
ranger/tagged
smplayer
sublime-text-2
systemd/user/*.target.wants
unity3d
vlc
xfce4
