autostart
configstore
dconf
deluge
desmume
fish/fish_history*
fish/fishd.*
fish/generated_completions
google-chrome-unstable
google-googletalkplugin/
google-musicmanager/
googlecl
gtk-2.0/gtkfilechooser.ini
guvcview
gvbam
icedtea-web
libreoffice
menus
pcsx2
pulse
QtProject*
smplayer
sublime-text-2
Thunar
Trolltech.conf
unity3d
VirtualBox
vlc
xfce4
